*{
  font-family: 'system-ui'
}
  body{
  background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../project_assets/gitam_center.webp);
  background-size: 100%; 
}
h1{
  text-align: center;
  color:rgb(235, 87, 87);
}
p{
  text-align: center;
  font-size:larger;
  color:rgb(235, 87, 87);
}
.dropdown{
  font-size:larger;
}
.dropbtn{
  text-align: center;
}
table, th, td {
  border:1px solid rgb(255, 253, 253);
  color: rgb(255, 255, 255);
}
.hidden {
  display: none;
}