body{
    background-color: #60787a7d;
    background-size:cover;
    background-position:center;
}
.login-page{
    width:360px;
    padding:10% 0 0;
    margin:auto;
}
.form{
    position:relative;
    z-index:1;
    background:#333131;
    max-width:360px;
    margin:0 auto 100px;
    left: 0%;
    padding: 40px;
    text-align: center;
}
.form input{
    font-family: 'system.ui';
    outline:1;
    background:#f2f2f2;
    width:100%;
    border:0;
    margin:0 0 15px;
    padding:15px;
    box-sizing:border-box;
    font-size:14px;
}
.form button{
    font-family:'system.ui';
    text-transform:uppercase;
    outline:0;
    background:#993f3f;
    width:100%;
    border:0;
    padding:15px;
    color:#FFFFFF;
    font-size:14px;
    cursor:pointer;
}
.form button:hover,.form button:active{
    background:#000000;

}
.form .message{
    margin:15px 0 0;
    color:rgb(255, 240, 240);
    font-size:12px;
}
.form .message a{
    color:#f9f9f9;
    font-size: 15px;
    text-decoration:none;
}

.form .register-form{
    display:none;
}
